# Virtual environments
.venv/
Backend/.venv/

# VS Code settings
.vscode/

# Models (backend)
backend/models/
models/intent_classifier/
models/jailbreaking_detector/

# Specific file
backend/src/chatbot/OllamaSetup.exe

Backend/models/
*.pt
*.bin
*.safetensors
__pycache__/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
